@import url("fonts.css");

* {
    scrollbar-color: rgb(88, 92, 106) rgb(48, 52, 66);
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "montserrat-regular";
}

a {
    font-family: "montserrat-regular";
    text-decoration: none;
    color: rgb(64, 92, 255);
}

a:hover {
    color: rgb(92, 156, 255);
}

button {
    font-family: "montserrat-regular";
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1.0);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 233, 233);
    color: rgba(0, 0, 0, 1.0);
}

button:active {
    background-color: rgb(222, 222, 222);
    color: rgba(0, 0, 0, 1.0);
}

.selectable {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-img-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
