@import url("main.css");

content #file-not-found {
    font-family: "montserrat-medium";
    font-size: 24px;
    flex: 1;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

content #main-content {
    font-family: "montserrat-regular";
    font-size: 16px;
    line-height: 1.75;

    flex: 1;
    width: auto;
    display: block;
    padding: 92px 92px 92px 92px;
}

content #main-content p {
    margin: 0px 32px;
}

content #main-content h2 {
    margin-top: 48px;
}

content #main-content li {
    margin-left: 88px;
    margin-right: 32px;
}

content #main-content hr {
    margin: 32px 0px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

content #main-content img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

content #main-content code {
    font-family: "clacon";
    font-size: 16px;
    line-height: 1.1;

    background: rgb(42, 47, 54);
    margin: 2px;
    border-radius: 6px;
    padding: 6px;
    white-space: pre;
}

content #main-content pre {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    padding: none;
    background: rgb(22, 27, 34);
    margin: 32px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

content #main-content pre code {
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    margin: 16px 16px 16px 8px !important;
}

content #main-content pre .code-block-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    background: rgb(22, 27, 34);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

content #main-content pre .code-block-header span {
    font-family: "montserrat-medium";
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
}

content #main-content pre .md-copy-button {
    color: rgba(255, 255, 255, 1.0);
    font-family: "montserrat-regular";
    font-size: 13px;
    padding: 8px 10px;
    background-color: rgb(42, 47, 54);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.1);
}

content #main-content pre .md-copy-button:hover {
    background-color: rgb(37, 42, 49);
    color: rgba(255, 255, 255, 1.0);
}

content #main-content pre .md-copy-button:active {
    background-color: rgb(34, 39, 46);
    color: rgba(255, 255, 255, 1.0);
}

content #main-content pre .line-numbers {
    position: sticky;
    left: 0;
    top: 0;
    padding: 16px;
    text-align: right;

    background: rgb(16, 21, 26);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    user-select: none;
}

content #main-content pre .line-numbers > span {
    font-family: "clacon";
    font-size: 16px;
    line-height: 1.1;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    background: rgb(17, 22, 28);
}
