@import url("../main.css");
@import url("../page.css");

content #main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "montserrat-regular";
    font-size: 24px;
    line-height: 1.4;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

content #main-content #webm {
    margin-bottom: 24px;
}

content #main-content #go-back {
    margin-top: 24px;
}
