@import url("../main.css");
@import url("../page.css");

content #main-content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-image: url("../../content/images/index/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

content #main-content {
    font-size: 24px;
    width: auto;
}
