@import url("../main.css");
@import url("../page.css");
@import url("../markdown.css");

content #main-text {
    text-align: center;
    margin-top: 48px;
    padding: 64px 0px;
    line-height: 1.5;
    background-color: rgb(22, 24, 28);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

content #main-text #title-text {
    font-family: "montserrat-regular";
    font-size: 32px;
}

content #main-text #description-text {
    font-family: "montserrat-regular";
    font-size: 18px;
}

content #main-content {
    background-color: rgb(16, 18, 21);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.5);

    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 12.5% 0 12.5%;
}
