@import url("../main.css");
@import url("../page.css");

content #header-content {
    width: 100%;
    min-width: 720px;
    overflow: hidden;
    position: relative;
}

content #header-content #header-img {
    width: 100%;
    height: auto;
    min-width: 720px;
    min-height: 256px;
    display: block;
}

content #header-content #text-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    padding: 8px;
}

content #header-content #text-content #header-main-text {
    font-family: "montserrat-medium";
    font-size: 36px;
}

content #header-content #text-content #description-text {
    font-family: "montserrat-regular";
    font-size: 24px;
}

content #main-content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-image: url("../../content/images/index/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

content #main-content #main-text {
    font-size: 24px;
    width: auto;
}
