@import url("../main.css");
@import url("../page.css");

content #header-content {
    width: 100%;
    min-width: 720px;
    overflow: hidden;
    position: relative;
}

content #header-content #header-img {
    width: 100%;
    height: auto;
    min-width: 720px;
    min-height: 256px;
    display: block;
}

content #header-content #text-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    margin-top: 16px;
    margin-left: 16px;

    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}

content #header-content #text-content #header-main-text {
    font-family: "montserrat-medium";
    font-size: 36px;
}

content #header-content #text-content #description-text {
    font-family: "montserrat-regular";
    font-size: 24px;
}

content #header-content #text-content #get-started {
    width: 192px;
    height: 64px;
    margin-top: 24px;

    font-family: "montserrat-regular";
    font-size: 24px;
    color: rgb(0, 0, 0);

    border: 0px solid rgb(255, 255, 255);
    border-radius: 16px;

    background-color: rgb(255, 255, 255);

    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, background-color 0.1s ease, box-shadow 0.2s ease;
}

content #header-content #text-content #get-started:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
}

content #header-content #text-content #get-started:active {
    transform: scale(95%);
    background-color: rgb(222, 222, 222);
}

content #main-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-image: url("../../content/images/index/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

content #main-content #main-text-content {
    margin-top: 128px;
    font-size: 24px;
    width: auto;
    text-align: center;

    margin-bottom: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 64px;
}

content #main-content #main-text {
    font-family: "montserrat-medium";
    font-size: 32px;
    width: auto;
}

content #main-content #main-description-text {
    margin-top: 24px;
    font-family: "montserrat-regular";
    font-size: 20px;
    width: 1024px;
}

content #main-content #main-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 128px;
}

content #main-content #main-links #main-links-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 128px;
    gap: 128px;
}

content #main-content #main-links #main-links-blocks > button {
    font-family: "montserrat-medium";
    font-size: 24px;
    color: rgb(255, 255, 255);

    background-color: rgb(48, 49, 52);
    border-radius: 16px;

    width: calc((100% - 128px) / 3);
    min-width: 128px;
    height: 192px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;

    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.25s ease, box-shadow 0.1s ease;
}

content #main-content #main-links #main-links-blocks > button:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 16px rgba(58, 59, 62, 1.0);
}

content #main-content #main-links #main-links-blocks > button:active {
    transform: scale(95%);
}

content #main-content #main-links #main-links-blocks #api-docs {
    background-image: url("../../content/images/index/link-api-docs.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

content #main-content #main-links #main-links-blocks #tutorials {
    background-image: url("../../content/images/index/link-tutorials.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

content #main-content #main-links #main-links-blocks #courses {
    background-image: url("../../content/images/index/link-courses.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
